#mapid {
    margin-top: 20px;
    height: 550px;
}

.top-buffer {
    margin-top: 10px;
}

.right-buffer {
    margin-right: 10px;
}

.road-legend {
    background: lightblue;
    opacity: 0.9;
    padding: 10px;
}